@model GameGenreNeuronNetwork.Models.ViewModels.GuessingViewModel

@{
    ViewData["Title"] = "Guessing";
}



<h1>Guessing</h1>

<h4>Guessing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Guess", "Guessing", FormMethod.Post))
        {
            <ul>
                @foreach (var aspect in Model.GameAspects)
                {
                    <li>
                        <input id="aspect@(aspect.Id)"
                               type="checkbox"
                               name="SelectedIds"
                               value="@aspect.Id"
                               @(aspect.Value == 1 ? "checked" : "") />
                        <label for="operator@(aspect.Id)">@aspect.Name</label>
                    </li>

                }
            </ul>
            <div class="form-group">
                <input type="submit" value="Guess" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
